
$ps-primary-color: #1976d3;
$ps-secondary-color: #f3f3f3;
$ps-dark-grey-color: rgb(99, 99, 99);
$ps-grey-color: #ebebeb;
$ps-white-color: #ffffff;
$ps-white-blue-color: #eef3f8;
$ps-black-color: rgba(0, 0, 0, 0.8);
$ps-green-color: #36d725;
$ps-red-color: #e64040;
$ps-warning-color: #ffc916;
$ps-search-placeholder-color: rgb(204, 204, 204);
$ps-line-default-color: #d4d5d9;
$ps-line-danger-color: $ps-red-color;
$ps-spacer-primary: 15px;
$ps-padding: 1rem;

$border-radius-root: 555px;